.buttonContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.colorButton {
  padding: 2rem;
  border: 0;
  border-radius: 20px;
  background: #5c5c5c;
  box-shadow: 20px 20px 60px #4e4e4e, -20px -20px 60px #6a6a6a;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.box {
  height: 500px;
  width: 500px;
  border-radius: 20px;
  box-shadow: 20px 20px 60px #4e4e4e, -20px -20px 60px #6a6a6a;
}

.container {
  background: #5c5c5c;
  padding: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
